.form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.formInput {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .125em;
}
.message {
    position: absolute;
    top:100%;
    left:0;
    width: 100%;
}